* {
  font-family: "IBM Plex Mono", monospace;
}
body {
  width: 100%;
  height: 100%;
}

:root {
  --red: #d22630;
  --yellow: rgb(255, 204, 0);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: auto;
  width: calc(100% - 40px);
  max-width: 1000px;
}

p {
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

#preview {
  width: 100%;
}

h1 {
  margin: 75px 0 0 0;
  font-weight: 900;
}

hr {
  padding: 2px;
  margin: 25px 0;
  background-color: black;
}

.list {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
}

.list > li > p {
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
}

.list > li > a {
  display: inline-block;
  border: 2px solid black;
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.75rem;
}

.tooltip {
  position: fixed;
  bottom: 25px;
  left: 25px;
  border-radius: 3px;
  border: 2px solid white;
  display: inline-block;
  padding: 4px 18px 0 18px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
}

.dark {
  background-color: rgba(225, 225, 225, 1);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  /* Position the tooltip */
  position: absolute;
  top: 20px;
  left: 75px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

dialog {
  max-width: 500px;
  padding: 50px;
  border-radius: 4px;
  border: 2px solid black;
}

dialog > .flex {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

dialog > .flex > button {
  display: block;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid black;
}

h2 {
  margin-bottom: 40px;
}

::backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.9);
}
